:root {
  --default-font: 'gill sans', sans-serif;
}

$primary: #f13980;
$dark: #fc2d7c;
$theme-colors: (
  "primary": $primary,
  "dark": $dark,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
